@font-face {
    font-family: "Sohne";
    src: url("../src/fonts/Sohne.woff2");
}

:root {
    --main-bg: #efefef;
    --main-c: #030303;
}

*:not(#pattern, b) {
    max-width: 90vw;
    transition: all 0.2s;
}

html,
body {
    font-family: "Sohne";

    background: var(--main-bg);
    color: var(--main-c);

    min-height: 250%;
    font-size: 1vw;

    scroll-behavior: smooth;
}

a:not(.competition > .team > a) {
    text-decoration: none;
    color: var(--main-c);
}

a:not(.competition > .team > a):hover {
    color: #fff;
}

#nav {
    position: relative;
    top: 1vw;
    left: 4vw;

    display: flex;
    gap: 0.3vw;
}

#nav > div {
    padding: 0.6vw;

    font-size: 0.7vw;
    font-weight: 300;

    background: #dfdfdf;
    cursor: pointer;
}

#nav > div:hover {
    color: #fff;
    background: #005daa;
}

.chapter {
    position: relative;
    top: 5vw;
    left: 4vw;

    font-weight: 300;
}

.chapter > * > #name,
.chapter > * > #welcome {
    color: var(--main-c);

    letter-spacing: -0.7vw;
    line-height: 7.5vw;

    font-size: 9vw;
    z-index: 1;
}

.chapter > * > #name:hover {
    font-size: 10vw;
    color: #ee2624;
}

.chapter > #description {
    position: relative;
    top: 3vw;

    letter-spacing: -0.1vw;
    line-height: 2.25vw;

    width: 45vw;
    font-size: 2vw;

    font-style: italic;
    opacity: 0.5;

    cursor: pointer;
}

.chapter > * > #description:hover {
    opacity: 1;
}

#w1.window {
    position: absolute;
    top: 4vw;
    left: 59vw;
}

#w2.window {
    position: absolute;
    top: 16vw;
    left: 71vw;
}

#w3.window {
    position: absolute;
    top: 11vw;
    left: 0vw;
}

.window {
    width: var(--width);
    height: var(--height);

    background: #d2cece;
    border: 0.01vw solid #000;

    cursor: pointer;
}

.window:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.window > #title,
.window > #close {
    height: 0;
    width: 100%;
    text-align: center;

    font-size: 0.5vw;
}

.window > #title {
    padding-top: 0.25vw;
}

.window > #close {
    position: relative;
    right: 0.3vw;

    text-align: right;
    padding-bottom: 1vw;
}

.window > #output {
    position: relative;
    top: 0vw;
    left: 0.4vw;

    height: calc(var(--height) - 1.8vw);
    width: calc(var(--width) - 1vw);
    background: #ececec;

    border: 0.01vw solid #000;
}

.window > #output > #overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.25;
    background: url("../src/img/plus.svg");
    background-size: 7vw;
    background-position: 2vw 2vw;
}

.window > #output > *:not(#overlay) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--width) - var(--logo-size));
}

.swing {
    animation: swing 2s infinite alternate ease-in-out;
}

.swing2 {
    animation: swing 2s infinite alternate ease-in-out -1s;
}

@keyframes swing {
    from {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(5deg);
    }
}

.section-line {
    position: relative;
    top: 13vw;
}

.section-line > #name {
    position: relative;
    left: 4vw;

    font-weight: 200;
    font-size: 0.75vw;
}

.section-line > div {
    position: relative;
    top: 0.5vw;
    left: 4vw;

    width: 92vw;
    height: 0.01vw;
    background: #000;
}

.marquee {
    position: relative;
    top: 13vw;
    left: 4vw;
    font-size: 0.8vw;
    font-weight: 200;

    --gap: 0vw;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    width: 92vw;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    list-style-type: none;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

#competitions {
    position: relative;
    top: 16vw;
    left: 4vw;
}

#competitions > #name {
    font-size: 5vw;
    font-weight: 300;
    letter-spacing: -0.3vw;
}

#competitions > #count {
    font-size: 1vw;

    position: relative;
    left: 0.5vw;
    bottom: 4vw;
}

#competitions > #search {
    position: absolute;
    top: 7vw;
    left: 1vw;
    font-size: 1vw;
    font-family: "Sohne";

    width: 15vw;

    padding: 0.5vw;
    background: #ececec;
    border: 0.01vw solid #000;
}

#competitions > #competition-section {
    position: absolute;
    top: 2vw;
    left: 25vw;
}

#competitions > #competition-section > #name {
    left: 10vw;
}

#competitions > #competition-section > #type {
    left: 40vw;
}

#competitions > #competition-section > span {
    position: relative;
    bottom: 1.5vw;

    font-weight: 300;
    font-size: 0.7vw;
}

#competitions > #competition-section > .competition {
    position: relative;
    bottom: 1.1vw;

    width: 65vw;
    height: 2vw;
    border-top: 0.01vw solid #000;

    font-size: 0.8vw;
    font-weight: 200;

    display: flex;
    padding-top: 1vw;

    cursor: pointer;
    transition: height 0.5s;

    overflow: hidden;
}

#competitions > #competition-section > .competition:hover {
    background: var(--comp-c);
    color: #fff;
}

#competitions > #competition-section > .competition > #name {
    position: absolute;
    top: 0.2vw;
    left: 13vw;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: -0.1vw;
}

#competitions > #competition-section > .competition > #type {
    position: absolute;
    left: 45.5vw;
}

.competition > .team {
    position: relative;
    top: 1vw;
    right: 2vw;

    font-size: 0.9vw;
    padding: 1vw;
    padding-right: 3vw;
}

.competition > .team > div {
    transition: none !important;
}

.competition > .team > a:hover {
    font-weight: bold;
}

#team-info > b {
    font-weight: 500;
}

.non-mobile {
    display: block;
}

.mobile {
    display: none;
}

@media (max-aspect-ratio: 15 / 16) {
    * {
        max-width: 100%;
    }

    html,
    body {
        min-height: 160%;
    }

    #pattern {
        position: absolute;
        left: 0;
        top: 0;

        opacity: 0.25;
        background: url("../src/img/plus.svg");
        background-size: 30vw;
        background-position: 0.5vw 10vw;

        width: 100%;
        height: 90vw;
    }

    #nav {
        left: 0vw;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        gap: 1vw;
    }

    #nav > div {
        padding-left: 1vw;
        padding-right: 1vw;

        font-size: 2.25vw;
        font-weight: 200;

        background: #dfdfdf;
        cursor: pointer;
    }

    #nav > div:hover {
        color: #fff;
        background: #005daa;
    }

    .chapter > * > #name:hover {
        font-size: 17vw;
        color: inherit;
    }

    .non-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }

    .chapter > * > #name,
    .chapter > * > #welcome {
        position: relative;
        right: 4vw;

        line-height: 15vw;
        letter-spacing: -1.1vw;

        font-size: 17vw;
        white-space: nowrap;
    }

    .chapter > #description {
        position: relative;
        top: 12vw;
        right: 2vw;

        width: 85vw;
        line-height: 5vw;
        letter-spacing: -0.2vw;

        font-size: 5vw;
        font-style: normal;
        opacity: 1;
    }

    .window {
        width: var(--m-width);
        height: var(--m-height);

        background: #d2cece;
        border: 0.2vw solid #000;

        cursor: pointer;
    }

    .window > #title,
    .window > #close {
        font-weight: 100;
        font-size: calc(var(--m-height) * 0.04);
    }

    .window > #close {
        position: relative;
        right: 1vw;
    }

    .window > #output {
        position: relative;
        top: 0.5vw;
        left: 0.3vw;

        height: calc(var(--m-height) - 2.2vw);
        width: calc(var(--m-width) - 0.7vw);
    }

    .window > #output > #overlay {
        background-size: 10vw;
    }

    .window > #output > *:not(#overlay) {
        width: calc(var(--m-width) - var(--m-logo-size));
    }

    #w1.window {
        position: absolute;
        top: 45vw;
        left: 70vw;
    }

    #w2,
    #w3 {
        display: none;
    }

    .section-line {
        top: 20vw;
    }

    .section-line > #name {
        font-size: 2vw;
    }

    .section-line > div {
        height: 0.2vw;
    }

    #competitions > *:not(#competition-section, input) {
        display: none;
    }

    .marquee {
        white-space: nowrap;
        font-size: 1.5vw;
        --gap: 50vw;
        position: relative;
        top: 20vw;
    }

    #competitions > #search {
        position: absolute;
        top: 5vw;
        font-size: 3vw;
        width: 86vw;
        border-radius: 0;
    }

    #competitions > #competition-section {
        position: absolute;
        top: 15vw;
        left: 2vw;
    }

    #competitions > #competition-section > #when {
        font-size: 2vw;
    }

    #competitions > #competition-section > #name {
        left: 5vw;
        font-size: 2vw;
    }

    #competitions > #competition-section > #type {
        left: 55vw;
        font-size: 2vw;
    }

    #competitions > #competition-section > .competition {
        position: relative;
        bottom: 1.1vw;

        width: 86vw;
        height: 5vw;
        border-top: 0.25vw solid #000;

        font-size: 2vw;
        font-weight: 200;

        display: flex;
        padding-top: 1vw;

        cursor: pointer;
        transition: height 0.5s;

        overflow: hidden;
    }

    #competitions > #competition-section > .competition:hover {
        background: var(--comp-c);
        color: #fff;
    }

    #competitions > #competition-section > .competition > #name {
        font-size: 4vw;
        letter-spacing: -0.2vw;
    }

    #competitions > #competition-section > .competition > #type {
        left: 70.5vw;
    }

    span {
        min-width: 10vw;
    }

    .competition > .team {
        position: relative;
        top: 2vw;
        right: 6vw;

        font-size: 2vw;
        padding: 1vw;
        padding-right: 3vw;
    }

    .competition > .team > div {
        transition: none !important;
    }

    .competition > .team > a:hover {
        font-weight: bold;
    }

    #team-info > b {
        font-weight: 500;
    }
}
