@font-face {
    font-family: "Sohne";
    src: url("../src/fonts/Sohne.woff2");
}

:root {
    --main-bg: #efefef;
    --main-c: #030303;
}

*:not(#pattern) {
    max-width: 90vw;
    transition: all 0.2s;
}

html,
body {
    font-family: "Sohne";

    background: var(--main-bg);
    color: var(--main-c);

    min-height: 250%;
}

a {
    position: relative;
    bottom: 0;

    text-decoration: none;

    color: var(--main-c);
}

a:hover {
    color: #ee2624;
}

#nav {
    position: relative;
    top: 1vw;
    left: 4vw;

    display: flex;
    gap: 0.3vw;
}

#nav > div {
    padding: 0.6vw;

    font-size: 0.7vw;
    font-weight: 300;

    background: #dfdfdf;
    cursor: pointer;
}

#nav > div:hover {
    color: #fff;
    background: #005daa;
}

.chapter {
    position: relative;
    top: 5vw;
    left: 4vw;

    font-weight: 300;
}

.chapter > #name,
.chapter > #welcome {
    letter-spacing: -0.7vw;
    line-height: 7.5vw;

    font-size: 9vw;
    z-index: 1;
}

.chapter > #name:hover {
    font-size: 10vw;
}

.chapter > #description {
    position: relative;
    top: 3vw;

    letter-spacing: -0.1vw;
    line-height: 2.25vw;

    width: 45vw;
    font-size: 2vw;

    font-style: italic;
    opacity: 0.5;

    cursor: pointer;
}

.chapter > #description:hover {
    opacity: 1;
}

#w1.window {
    position: absolute;
    top: 4vw;
    left: 59vw;
}

#w2.window {
    position: absolute;
    top: 16vw;
    left: 71vw;
}

#w3.window {
    position: absolute;
    top: 20vw;
    left: 0vw;
}

.window {
    width: var(--width);
    height: var(--height);

    background: #d2cece;
    border: 0.01vw solid #000;

    cursor: pointer;
}

.window:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.window > #title,
.window > #close {
    height: 0;
    width: 100%;
    text-align: center;

    font-size: 0.5vw;
}

.window > #title {
    padding-top: 0.25vw;
}

.window > #close {
    position: relative;
    right: 0.3vw;

    text-align: right;
    padding-bottom: 1vw;
}

.window > #output {
    position: relative;
    top: 0vw;
    left: 0.4vw;

    height: calc(var(--height) - 1.8vw);
    width: calc(var(--width) - 1vw);
    background: #ececec;

    border: 0.01vw solid #000;
}

.window > #output > #overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.25;
    background: url("../src/img/plus.svg");
    background-size: 7vw;
    background-position: 2vw 2vw;
}

.window > #output > *:not(#overlay) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--width) - var(--logo-size));
}

.swing {
    animation: swing 2s infinite alternate ease-in-out;
}

.swing2 {
    animation: swing 2s infinite alternate ease-in-out -1s;
}

@keyframes swing {
    from {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(5deg);
    }
}

.section-line {
    position: relative;
    top: 13vw;
}

.section-line > #name {
    position: relative;
    left: 4vw;

    font-weight: 200;
    font-size: 0.75vw;
}

.section-line > div {
    position: relative;
    top: 0.5vw;
    left: 4vw;

    width: 92vw;
    height: 0.01vw;
    background: #000;
}

.marquee {
    position: relative;
    top: 13vw;
    left: 4vw;
    font-size: 0.8vw;
    font-weight: 200;

    --gap: 0vw;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    width: 92vw;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    list-style-type: none;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.competitions {
    position: relative;
    top: 16vw;
    left: 4vw;
}

.competitions > #name {
    font-size: 6vw;
    font-weight: 300;
    letter-spacing: -0.3vw;
}

.competitions > #count {
    font-size: 1vw;

    position: relative;
    left: 0.5vw;
    bottom: 4vw;
}

.competitions > #filter {
    position: absolute;
    top: 8.5vw;

    font-weight: 300;
    font-size: 0.7vw;
}

.competitions > #line {
    position: absolute;
    top: 10vw;

    width: 20vw;
    height: 0.01vw;
    background: #000;
}

.competitions > #competition-section {
    position: absolute;
    top: 2vw;
    left: 25vw;
}

.competitions > #competition-section > #name {
    left: 10vw;
}

.competitions > #competition-section > #type {
    left: 40vw;
}

.competitions > #competition-section > span {
    position: relative;
    bottom: 1.5vw;

    font-weight: 300;
    font-size: 0.7vw;
}

.competitions > #competition-section > .competition {
    position: relative;
    bottom: 1.1vw;

    width: 65vw;
    height: 2vw;
    border-top: 0.01vw solid #000;

    font-size: 0.8vw;

    display: flex;
    padding-top: 1vw;

    cursor: pointer;
    transition: height 0.5s;

    overflow: hidden;
}

.competitions > #competition-section > .competition:hover {
    background: var(--comp-c);
    color: #fff;
}

.competitions > #competition-section > .competition > #name {
    position: absolute;
    top: 0.75vw;
    left: 13vw;
    font-size: 1.2vw;
}

.competitions > #competition-section > .competition > #type {
    position: absolute;
    left: 45.5vw;
}

.competition > .team {
    position: relative;
    right: 2vw;

    padding: 1vw;
}

.competition > .team > div {
    transition: none !important;
}

.competitions > #name.filter {
    position: relative;
    top: 2vw;
    left: 1vw;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 0vw;
}

.competitions > input {
    position: relative;
    top: 2vw;
    left: 1vw;

    background: none;
    border: none;

    font-family: inherit;
    font-weight: 200;
    font-size: 1vw;
}
